<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h3><%= product.name%></h3>
      <p><%= product.desc%></p>
      <p><%= product.price%></p>
      <p><%= product.quantity%></p>
      <p><%= product.category%></p>
      <a href="/v1/products/<%= product.id %>/edit">Update Product</a>
      <form
        method="POST"
        action="/v1/products/<%= product.id %>?_method=delete"
      >
        <button type="submit">Delete Product</button>
      </form>
    </div>
  </body>
</html>
